body{
    margin-top:0;
    background-color:rgb(255, 255, 255);
    box-sizing:border-box;
}

.main{
    height:80px;
    margin-top:-20px;
    background-color:rgb(255, 255, 255);
    width:1280px;
    margin-right:-47px;
    margin-left:-40px;
    border-bottom: 2px solid rgb(0, 42, 255);
    justify-content: end;
}

.title{
    color:rgb(0, 42, 255);
    margin-left:-1010px;
    margin-top:20px;
    font-size:1.2cm;
    font-weight:900;
    padding-top:8px;
    font-family:indie flower
}
.buttons{
    margin-top:-95px;
    margin-left:920px;
}
.b1,.b2{
    background-color:rgb(0, 42, 255);
    height:36px;
    border:2px solid rgb(0, 42, 255);
    border-radius:5px;
    color:white;
    padding:2px 12px;
    font-size:.34cm;
    margin-left:30px;
}
.b1:hover, .b2:hover{
    background-color:rgb(18, 44, 174);
    border:2px solid rgb(18, 44, 174);
}
.b2{
    margin-left:25px;
}

.ul_p{
    list-style: none;
    display:flex;
    gap:30px;
    margin-left:-280px;
    margin-top:10px;
}

.l{
    text-decoration: none;
    font-family: Indie flower;
    font-size:.54cm;  
    font-weight: 900;
    color:rgb(0, 42, 255);
    
}

.l:hover, .cour:hover{
    color:rgb(68, 111, 149);
}

.link1{
    cursor: pointer;
}
.courses_blk{
    position: absolute;
    background-color:rgb(255, 255, 255);
    height:92px;
    width:160px;
    z-index: 2;
    margin-top:-20px;
    margin-left:-100px;
    border:1px solid rgb(0, 42, 255);
    border-radius:10px;
    display:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.57);
}


.cour{
    background-color:white;
    border:0;
    font-family: Indie flower;
    font-size:.54cm;  
    font-weight: 900;
    color:rgb(0, 42, 255);
    cursor:pointer;
}

.ul_c1{
    list-style: none;
    margin-left:-40px;
    cursor:pointer;
}

.ul2{
    color:rgb(50, 49, 49);
    font-family:Indie flower;
    font-weight:800;
}

.ul2:hover{
    color:rgb(156, 142, 142);
}

.search{
    fill:rgb(47, 47, 243);
    margin-top:4px;
    margin-right:-80px;
}