.nl_b1{
    height:90px;
    background-color:rgb(251, 243, 243);
    margin-top:-35px;
    /* border-bottom: 1px solid black; */
}

.nl_h2{
    font-family:Indie flower;
    padding-top:20px;
    font-size:1.1cm;
}
