body{
    padding:0;
    margin:0;
    box-sizing:border-box;
    background-color:white;
}



.main_prof{
    height:790px;
    width:1272px;
    margin-left:-40px;
    margin-top:-19px;
    background-color:rgb(255, 255, 255);
    display:flex;
}

.btn1{
    position: absolute;
    height:40px;
    width:20px;
    top:30px;
    left:60px;
    background-color:rgb(236, 123, 123);
    border:0px;
    cursor: pointer;
}

/* #btn_arr1{
    height:40px;
    width:30px;
} */

.h3_pro{
    position: absolute;
    width:1272px;
    height:60px;
    margin-top:20px;
    padding-top:25px;
    font-size:1cm;
    font-family: Raleway;
    font-weight:900;
    letter-spacing:2px;
}

.prof1,.prof2{
    height:500px;
    background-color:rgb(236, 236, 225);
    border:1px solid white;
    border-radius:13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.prof1{
    width:370px;
    margin-left:170px;
    margin-top:160px;
}

.prof2{
    width:530px;
    margin-left:100px;
    margin-top:160px;

}

.pro_t1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:.62cm;
    margin-left:10px;
    font-weight:200;
}

.pro_img{
    height:135px;
    width:135px;
    clip-path: circle(50% at 50% 50%);
    
}

.pro_d1,.pro_d2{
    display:flex;
    margin-left:24px;
    margin-top:10px;
}

.pro_d2{
    margin-top:-40px;
}
.pt{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:.46cm;
}
.h6_t2, .h6_t4{
    margin-left:40px;
    font-size:.5cm;
}


.h6_t4{
    margin-left:45px
}
.h6_t3,.h6_t5{
    margin-left:40px;
    font-weight:500;
    margin-top:46px;
}

#pro_b1{
    /* color:rgb(47, 47, 243); */
    color:rgb(47, 47, 243);
    background-color:white;
    border:1px solid rgb(47, 47, 243);
}
#pro_b1:hover{
    background-color:rgb(47, 47, 243);
    color:white;
}

.details_blk{
    height:800px;
    background-color:white;
    margin-top:-20px;
    margin-left:-31px;
}

.det{
    padding-top:15px;
    padding-bottom:5px;
}

.h3_det1{
    font-family:Raleway;
    text-align:left;
    margin-left:90px;
    margin-top:10px;
}


.proj_d{
    display:flex;
}
.counts{
    text-align:left;
    margin-left:50px;
    font-size:.5cm;
    margin-top:10px;
    padding-top:-10px;
    font-family:chakra petch;
}

.f1{
    margin-top:30px;
}
.counts_1{
    font-family:caveat;
    font-size:.56cm;
    margin-top:27px;
    padding-left:20px;
}
.h3_det{
    font-family:'Raleway';
    margin-top:-10px;
    margin-left:-610px;
    font-size:1.2cm;
    padding-top:20px;
}

/* EDITING */
.edit{
    position: absolute;
    margin-top:-620px;
    margin-left:350px;
    height:300px;
    width:450px;
    background-color:rgb(236, 236, 225);
    border:1px solid white;
    border-radius:8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rem{
    display: none;
}

.edit_1{
    font-family:raleway;
    font-size:.63cm;
    padding-top:10px;
}

.inp{
    display:flex;
}

.edit_2{
    font-family:courier prime;
    font-weight:100;
    margin-left:40px;
    padding-right:15px;
}
#e2{
    padding-left:15px;
}
#input1{
    height:30px;
    border:1px solid black;
    border-radius:5px;
    padding-left:10px;
    margin-top:8px;
}
.input2{
    margin-left:29px;   
}

#e_btn{
    margin-top: 10px;
    background-color:rgb(47, 47, 243);
    color:white;
}
#e_btn:hover{
    background-color:white;
    color:rgb(47, 47, 243);
}